/.idea/
/commonbean-sass/task-commonbean-sass.iml
/dataintegration-sass/task-dataintegration-sass.iml
/dataintegration-sass/target
/plugin-sass/task-plugin-sass.iml
/plugin-sass/plugin-sass.iml
/plugin-sass/target
/udd-sass/task-udd-sass.iml
/udd-sass/target
/audience-engine-taskforsass.iml
/target
/commonbean-sass/target/
/.DS_Store
/transfer-sass/target/
/transfer-sass/task-transfer-sass.iml
/transfer-sass/transfer-sass.iml
